
<h1 id="loginHead">Edit Profile</h1>
<img id="loginPic" src="/public/images/BackgroundImage.jpg" alt="">
<form class="" action="update" method="post">
    <input class="editInput" type="text" name="first" value="{{first}}">
    <input class="editInput" type="text" name="last" value="{{last}}">
    <input class="editInput" type="text" name="email" value="{{email}}">
    <input class="editInput" type="text" name="password" placeholder="password">
    <input class="editInput" type="text" name="age" value="{{age}}" placeholder="Enter age">
    <input class="editInput" type="text" name="city" value="{{city}}" placeholder="Enter city">
    <input class="editInput" type="text" name="url" value="{{url}}" placeholder="Enter url">
    <input class="editInput" type="hidden" name="_csrf" value="{{csrfToken}}">
    <button class="Editbtn" type="submit" name="button">Submit</button>
</form>
<form class="" action="logout" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button class="btnAll">Sign out</button>
</form>
