<nav>
<h1 id="thank-you-text">Thank you very much, {{first}} {{last}}, for signing the petition!</h1>
</nav>
<img id="thank-you-pic" src="/public/images/BackgroundImage.jpg" alt="">
<div>
    <img id="signatureImage" src="{{signature}}" alt=""></img>
    <a href="/signers"><button class="btn" type="button" name="button"> {{numOfSigs}} people signed this petition</button></a>
    <a href="/update"><button class="btn" type="button" name="button">Edit profile</button></a>
</div>
<form class="" action="logout" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button class="btnAll">Sign out</button>
</form>
<form class="" action="delete" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button class="btn">Delete Signature</button>
</form>
