<div class="">
    <h1>People signed this petition</h1>
    {{#each signers}}
    <ul>
        <li>{{first}} {{last}} (<a href='/signers/{{city}}'>{{city}}</a>, {{age}})</li>
    </ul>
    {{/each}}
</div>
<form class="" action="logout" method="get">
    <button>Sign out</button>
</form>
