<div class="">
    <h1>People from {{city}} signed this petition</h1>
    {{#each signersCity}}
    <ul>
        <li>{{first}} {{last}} ({{age}})</li>
    </ul>
    {{/each}}
</div>
<form class="" action="../logout" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>Sign out</button>
</form>
