<img id="signersPic" src="/public/images/logo.jpg" alt="">

<div class="signersCity">
    <h1 id="sigCity">People from {{city}} signed this petition</h1>
    {{#each signersCity}}
    <ul>
        <div>{{first}} {{last}} ({{age}})</li>
    </ul>
    {{/each}}
</div>
<form class="" action="../logout" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button class="cityBtnLogout">Sign out</button>
</form>
<a class="cityBack"href="/signers">Back</a>
